body {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
  padding: 0;
  background-color: white;
  background-image: url("images\ \(1\).jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

form {
  margin: auto;
  background-color: rgb(228, 242, 255);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 600px;
}

h1 {
  text-align: center;
  color: black;
}
.heading {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: bolder;
  text-shadow: 3px 2px 4px rgb(112, 41, 99);
  text-decoration: underline 2px solid;
}

fieldset {
  border: 2px solid rgb(112, 41, 99);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(224, 176, 255);
}

legend {
  font-weight: bold;
  text-align: left;
  color: rgb(34, 29, 29);
}

label {
  display: block;
  margin-top: 10px;
  color: black;
}

input,
textarea {
  margin-top: 4px;
  padding: 8px;
  width: calc(100% - 1px);
  border: 1px solid skyblue;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 80px;
  padding: 5px;
  margin: 0 3px;
  background-color: skyblue;
  outline: none;
  border: 1px solid skyblue;
  box-shadow: 2px 2px 2px #3f3f3f;
  cursor: pointer;
}

button:hover {
  box-shadow: 2px 2px 3px;
}

button:active {
  box-shadow: 1px 1px 3px;
}

.edit-textarea {
  display: block;
}

#gen-button,
.pdf-button,
.button {
  display: block;
  width: 100%;
  background-color: skyblue;
  color: black;
  border: none;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  cursor: pointer;
}

#gen-button:hover,
.pdf-button:hover,
.button :hover {
  color: rgb(159, 43, 104);
}
.button {
  width: 80px;
  display: none;
}

.pdf-button {
  max-width: 600px;
  margin: 10px auto;
  display: none;
}

#shareable-link-container {
  padding: 10px;
  border: 2px solid skyblue;
  border-radius: 8px;
  max-width: 600px;
  display: flex;
  margin: 10px auto;
  justify-content: center;
  background-color: rgb(255, 192, 203);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: none;
}
#shareable-link-container h2 {
  display: block;
  width: 170px;
  margin: 5px auto;
}
#shareable-link-container a {
  text-decoration: none;
  display: block;
  margin: 5px auto;
  font-size: 1.2rem;
  width: 258px;
}

#resume-display {
  max-width: 600px;
  margin: auto;
  padding: 0 20px 20px;
  border: 2px solid skyblue;
  border-radius: 8px;
  /* background-color: rgb(189, 181, 213); */
  background-color: 	rgb(195, 177, 225);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: none;
}
#image {
  width: 145px;
  height: 145px;
  margin: 18px 9px;
  border-radius: 10px;
}

#page-1 {
  display: grid;
  grid-template-areas:
    "head head head head"
    "pic edu edu edu"
    "contact experience experience experience"
    "skills skills skills skills";
}
#pic {
  grid-area: pic;

}
#head {
  grid-area: head;
}
#head h1 {
  text-align: center;
  color: black;
  font-size: 2.5rem;
  text-decoration: underline 2px;
  text-shadow: 0 1px 1px rgb(119, 7, 55)
}
#contact {
  grid-area: contact;
  max-width: 161px;
  padding: 4px 5px;
  font-size: 0.8rem;
  line-height: 25px;
}
#education {
  grid-area: edu;
  margin: 2px 15px;
  font-size: 0.84rem;
  min-height: 120px;
  line-height: 1.1rem;
}
#education h3 {
  padding-top: 14px;
}
#experience {
  grid-area: experience;
  font-size: 0.8rem;
  margin: 4px 15px;
  min-height: 120px;
  border-bottom: 2px solid skyblue;
  line-height: 1.1rem;
}
#experience h3 {
  padding-top: 14px;
}
#skill {
  grid-area: skills;
  min-height: 50px;
  line-height: 1.1rem;
  margin: 3px;
  font-size: 0.8rem;
  text-align: center;
  min-height: 130px;
  border-bottom: 2px solid skyblue;
}

h3 {
  border-top: 2px solid skyblue;
  padding: 5px 0;
  text-decoration: underline 1px solid rgb(119, 7, 55);
  font-style: oblique;
  text-shadow: 0px 0.5px 2px rgb(119, 7, 55);
}

@media (max-width: 450px) {
  #page-1 {
    grid-template-areas:
      "head"
      "pic"
      "contact"
      "edu"
      "experience"
      "skills";
  }
  #pic {
    margin: auto;
  }

  #contact {
    text-align: center;
    margin: 12px 10px 0px;
    max-width: 100%;
  }
  #education {
    margin: 10px;
    text-align: center;
  }
  #education h3 {
    padding: 10px;
  }
  #experience h3 {
    text-align: center;
    padding: 10px;
  }
}
